<% @teams.each do |team| %>
  <tr>
    <td>
      <div class="job-thumb-image">
        <%= load_team_image team %>
      </div>
      <div class="job-title-content">
        <%= link_to team.name, employer_company_team_path(company_id: @company.id,
          id: team.id), class: "job-title" %>
      </div>
    </td>
    <td class="col-check">
      <div class="ckbox">
        <input type="checkbox" value="<%= team.id %>" 
          id="checkbox-team-<%= dom_id team %>" name="team[<%= team.id %>]" >
        <label for="checkbox-team-<%= dom_id team %>"></label>
      </div>
    </td>
  </tr>
<% end %>
