<div class="clearfix" id="jobs-management">
  <div class="container">
    <div class="row">
      <section class="content">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="container">
                <h3 class="fix-h3"><%= t ".info_team" %></h3>
                <div class="col-sm-6">
                  <%= load_team_image @team, class: "img-upload" %><br>
                </div>
                <div class="col-sm-6">
                  <%= label_tag :name %>
                  <p><%= @team.name %></p>
                </div>
              </div>
              <div class="container">
                <h3 class="fix-h3"><%= t ".introduction_team" %></h3>
                <div>
                  <ul class="nav nav-tabs" role="tablist">
                    <% @team.team_introductions.each_with_index do |value, key| %>
                      <li role="presentation" class="<%= key == 0 ? "active" : "" %>">
                        <a href="#<%= key %>"
                          aria-controls="<%= key %>" role="tab" data-toggle="tab">
                          <%= value.title %>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                  <div class="tab-content">
                    <% @team.team_introductions.each_with_index do |value, key| %>
                      <div role="tabpanel" class="tab-pane <%= key == 0 ? "active" : "" %>" 
                        id="<%= key %>">
                        <%= value.content %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
