<section id="page-title">
  <div class="container clearfix">
    <h1><%= t ".page_title" %></h1>
    <ol class="breadcrumb">
      <li><%= link_to t(".home"), education_root_path %></li>
      <li class="active"><%= t ".page_title" %></li>
    </ol>
  </div>
</section>

<div id="page-menu" class="page-menu-course">
  <div id="page-menu-wrap">
    <div class="container clearfix">
      <div class="menu-title">
        <%= t ".course" %>
        <span> <%= t ".filter" %></span>
      </div>
      <nav>
        <ul>
          <%= render "search_form", {controller_name: "education/courses"} %>
          <li class="training-search">
            <%= text_field_tag :course_search, params[:course_search],
              placeholder: t(".search"), class: "form-control" %>
          </li>
        </ul>
      </nav>
      <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
    </div>
  </div>
</div>

<section id="content"  class="content-course">
  <div id="tab-courses">
    <% if @courses.any? %>
      <div class="content-wrap nobottompadding nobottompadding-custom">
        <div id="list-portfolio" class="container clearfix">
          <div id="portfolio" class="portfolio grid-container 
            portfolio-full portfolio-nomargin clearfix">
              <%= render @courses %>
           </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="center">
        <%= paginate @courses %>
      </div>
      <br/>
    <% else %>
      <div class="text-center"><h3><%= t ".no_courses" %></h3></div>
    <% end %>
  </div>
</section>
