<% provide :title, t("education.project.title") %>
<section id="content">
  <div class="content-wrap nobottompadding">
    <div class="container clearfix">
      <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">
        <li class="activeFilter"><a href="#" data-filter="*"><%= t "education.project.show_all" %></a></li>
        <li><a href="#" data-filter=".pf-icons"><%= t "education.project.ruby" %></a></li>
        <li><a href="#" data-filter=".pf-illustrations"><%= t "education.project.php" %></a></li>
        <li><a href="#" data-filter=".pf-uielements"><%= t "education.project.android" %></a></li>
        <li><a href="#" data-filter=".pf-media"><%= t "education.project.ios" %></a></li>
        <li><a href="#" data-filter=".pf-graphics"><%= t "education.project.other" %></a></li>
      </ul>

      <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
        <i class="icon-random"></i>
      </div>
      <div class="clear"></div>
    </div>

    <div id="portfolio" class="portfolio grid-container portfolio-full portfolio-nomargin clearfix">
      <%= render "project", projects: @projects %>
    </div>

    <div id="load-next-posts" class="center">
      <div class="button button-full button-dark center tright">
        <div class="container clearfix">
          <div id="more-project" class="read-more" align="center">
            <%= @total_project %><%= t "education.project.name" %>
            <strong><%= t "education.project.see_more" %></strong> <i class="icon-caret-right style-custom"></i>
          </div>
          <div id="next-project" class="read-more" align="center">
            <%= link_to_next_page @projects, t("education.project.next_page") %>
          </div>
          <div id="back-project" class="read-more" align="center">
            <%= link_to_prev_page @projects, t("education.project.back_page") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-center fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-th i-alt"></i></a>
          </div>
          <h3><%= @total_project %><%= t "education.project.total_project.title" %><span class="subtitle"><%= t "education.project.total_project.subtitle" %></span></h3>
        </div>
      </div>
      <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-center fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-file-text i-alt"></i></a>
          </div>
          <h3><%= t "education.project.platform.title" %><span class="subtitle"><%= t "education.project.platform.subtitle" %></span></h3>
        </div>
      </div>

      <div class="col_one_third nobottommargin col_last">
        <div class="feature-box fbox-center fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-thumbs-up i-alt"></i></a>
          </div>
          <h3><%= t "education.project.rate_avg.title" %><span class="subtitle"><%= t "education.project.rate_avg.subtitle" %></span></h3>
        </div>
      </div>
      <div class="clear"></div>
    </div>
        <div class="container clearfix">
        <div class="col_one_third nobottommargin col_last">
            <div class="fslider testimonial" data-animation="slide" data-arrows="false">
              <div class="flexslider">
                <div class="slider-wrap">
                  <div class="slide">
                    <div class="testi-image">
                    </div>
                  </div>
                  <div class="slide">
                    <div class="testi-image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
