<div class="container clearfix">
  <div class="col_one_third">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-monitor"></i></a>
      </div>
      <h3><%= t ".responsive_layout" %></h3>
      <p><%= t ".responsive_layout_des" %></p>
    </div>
  </div>
  <div class="col_one_third">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="200">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-eye"></i></a>
      </div>
      <h3><%= t ".graphics" %></h3>
      <p><%= t ".graphics_des" %></p>
    </div>
  </div>
  <div class="col_one_third col_last">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="400">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-star"></i></a>
      </div>
      <h3><%= t ".performance" %></h3>
      <p><%= t ".performance_des" %></p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="col_one_third">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="600">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-play"></i></a>
      </div>
      <h3><%= t ".html5_video" %></h3>
      <p><%= t ".html5_video_des" %></p>
    </div>
  </div>
  <div class="col_one_third">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="800">
      <div class="fbox-icon">
        <a href="#"><i class="icon-params"></i></a>
      </div>
      <h3><%= t ".parallax_support" %></h3>
      <p><%= t ".parallax_support_des" %></p>
    </div>
  </div>
  <div class="col_one_third col_last">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="1000">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-circle-check"></i></a>
      </div>
      <h3><%= t ".endless_possibilities" %></h3>
      <p><%= t ".endless_possibilities_des" %></p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="col_one_third bottommargin-sm">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="600">
      <div class="fbox-icon">
        <a href="#"><i class="icon-bulb"></i></a>
      </div>
      <h3><%= t ".color_schemes" %></h3>
      <p><%= t ".color_schemes_des" %></p>
    </div>
  </div>
  <div class="col_one_third bottommargin-sm">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="800">
      <div class="fbox-icon">
        <a href="#"><i class="icon-heart2"></i></a>
      </div>
      <h3><%=t ".layouts"  %></h3>
      <p><%= t ".layouts_des" %></p>
    </div>
  </div>
  <div class="col_one_third bottommargin-sm col_last">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="1000">
      <div class="fbox-icon">
        <a href="#"><i class="icon-note"></i></a>
      </div>
      <h3><%= t ".documentation" %></h3>
      <p><%= t ".documentation_des" %></p>
    </div>
  </div>
  <div class="clear"></div>
</div>
