<div class="section nobottommargin text-center">
  <div class="container clear-bottommargin clearfix">
    <div class="heading-block center">
      <h2><%= t "education.index.learning_program" %></h2>
    </div>
    <div class="row topmargin-sm clearfix">
      <% learning_programs.each do |program| %>
        <div class="col-md-4 col-sm-4 bottommargin">
          <i class="i-plain color i-large icon-line2-screen-desktop inline-block"></i>
          <div class="heading-block nobottomborder">
            <span class="before-heading"><%= program.name %></span>
            <h4><%= program.name %></h4>
          </div>
          <p title="<%= program.description %>">
            <%= truncate(program.description,
              length: Settings.education.index.max_learning_program_desc) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
