<div class="container clearfix">
  <div id="oc-clients" class="owl-carousel image-carousel carousel-widget"
    data-margin="60" data-loop="true" data-nav="false" data-autoplay="5000"
    data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4"
    data-items-md="5" data-items-lg="6">
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client1_logo %>"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client2_logo %>"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client3_logo %>"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client4_logo %>"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client5_logo %>"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client6_logo %>"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client7_logo %>"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client8_logo %>"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client9_logo %>"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="<%= Settings.education.home_page.client10_logo %>"></a>
    </div>
  </div>
</div>
