<% provide :title, t("education.title") %>
<%= render "slider" %>

<section id="content">
  <div class="content-wrap">
    <%= render "about_us", about: @about %>
    <%= render "learning_programs" %>
    <%= render "programing_languages" %>
    <%= render "our_projects", projects: @projects %>
    <%= render "lastest_courses" %>
  </div>
  <div class="content-wrap-custom">
    <%= render "statistics" %>
  </div>
</section>
