<% provide :title, t("education.title") %>
<%= render "slider" %>

<section id="content">
  <div class="content-wrap content-wrap-custom">
    <%= render "about_us" %>
    <%= render "learning_programs" %>
    <%= render "programing_languages" %>
    <%= render "our_projects" %>
    <%= render "lastest_courses" %>
    <%= render "statistics" %>
  </div>
</section>
