<% provide :title, t("education.title") %>
<%= render "slider" %>

<section id="content">
  <div class="content-wrap">
    <%= render "about_us", about: @about %>
    <%= render "learning_programs", learning_programs: @learning_programs %>
    <%= render "programing_languages" %>
    <%= render "our_projects", projects: @projects %>
    <%= render "our_trainings", trainings: @trainings %>
    <%= render "lastest_courses", courses: @courses %>
  </div>
  <div class="content-wrap-custom">
    <%= render "statistics" %>
  </div>
</section>
