<section id="page-title">
  <div class="container clearfix">
    <h1><%= t ".heading" %></h1>
    <ol class="breadcrumb">
      <li><%= link_to t(".home"), root_path %></li>
      <li class="active"><%= t ".posts" %></li>
    </ol>
  </div>
</section>
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="postcontent nobottommargin clearfix">
        <div class="single-post nobottommargin">
          <div class="entry clearfix">
            <div class="entry-title">
              <h2><%= @post.title %></h2>
            </div>
            <ul class="entry-meta clearfix">
              <li><i class="icon-calendar3"></i>
                <%= l @post.created_at, format: :date_month_year_concise %>
              </li>
              <li>
                <%= link_to user_path @post.postable do %>
                  <i class="icon-user"></i><%= @post.postable_name %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="icon-comments"></i>
                <% end %>
              </li>
              <div class="entry-image">
                <%= image_tag @post.image %>
              </div>
            </ul>
            <div class="entry-content notopmargin">
              <div class="post-article">
                <%= @post.content.html_safe %>
              </div>
              <% if @post.postable.is_user? current_user %>
                <div class="edit-delete-buttons">
                  <%= link_to t(".edit"), edit_user_post_path(@post),
                    class: "button button-3d button-rounded button-amber" %>
                  <%= link_to t(".delete"), user_post_path(@post), method: :delete,
                    data: {confirm: t(".sure")},
                    class: "button button-3d button-border button-rounded button-amber" %>
                </div>
              <% end %>
              <div class="clear"></div>
              <div class="like-user-post">
                <%= render partial: "likes/like_user_post", locals: {post: @post} %>
              </div>
              <div class="clear"></div>
              <%#= render "rate_post" %>
              <div class="clear"></div>
              <%#= render "share_post" %>
            </div>
          </div>
          <div class="line"></div>
          <h4><%= t ".related_posts" %></h4>
          <%#= render partial: "related_post" %>
          <%= render partial: "comments/comments", locals: {post: @post} %>
        </div>
      </div>
    </div>
  </div>
</section>
