<div class="btn-group btn-filter">
  <button type="button" class="btn btn-default dropdown-toggle button-show-filter"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-filter" aria-hidden="true"></i>
  </button>
  <%= hidden_field_tag "company-id", company.id %>
  <div class="dropdown-menu filter" data-filter="time_show"
    data-model="article" id="sort-item">
    <ul>
      <li>
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control search-article"
            placeholder="<%= t ".search" %>">
          <span class="input-group-addon">
            <button>
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </li>
      <li>
        <button class="button-sort sort-article" data-sort-by="ASC">
          <%= t "employer.sortaz" %>
        </button>
      </li>
      <li>
        <button class="button-sort sort-article" data-sort-by="DESC">
          <%= t "employer.sortza" %>
        </button>
      </li>
      <hr />
      <li>
        <input type="radio" name="options" id="option1" value="title"><%= t ".title" %>
        <br>
        <input type="radio" name="options" id="option1" value="time_show" checked="checked"><%= t ".time" %>
      </li>
    </ul>
  </div>
</div>
