<%= form_for [:admin, company] do |f| %>
  <div class="col-md-6 form-group">
    <%= f.label :company_name %>
    <span class="label-danger box-danger"><%= t ".required" %></span>
    <%= f.text_field :name, class: "form-control", autofocus: true %>
  </div>

  <div class="col-md-6 form-group">
    <%= f.label :website %>
    <span class="label-danger box-danger"><%= t ".required" %></span>
    <%= f.text_field :website, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="col-md-6 form-group">
    <%= f.label :founder %>
    <span class="label-primary box-danger"><%= t ".optional" %></span>
    <%= f.text_field :founder, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="col-md-6 form-group">
    <%= f.label :company_size %>
    <span class="label-danger box-danger"><%= t ".required" %></span>
    <%= f.text_field :company_size, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="col-md-6 form-group">
    <%= f.label :country, t(".country") %>
    <span class="label-danger box-danger"><%= t ".required" %></span>
    <%= select_tag :country, options_for_select(
      Settings.company.country), class: "form-control" %>
  </div>

  <div class="col-md-6 form-group">
    <%= f.fields_for :addresses do |builder| %>
      <%= builder.label :address %>
      <span class="label-danger box-danger"><%= t ".required" %></span>
      <%= builder.text_field :address, class: "form-control", autocomplete: "off" %>

      <%= builder.label :head_office %>
      <%= builder.check_box :head_office %>
    <% end %>
  </div>

  <div class="col-md-12">
    <%= f.submit t(".next"), class: "btn btn-success" %>
  </div>
<% end %>
