<% if check_apply_jobs? current_user.id, job.id %>
  <%= button_tag id: job.id, class: "btn cancel_apply_job rm_apply applied" do %>
    <%= icon("hand-o-up") %>
    <span class="tooltiptext tooltip-left"><%= t ".unapply_job" %></span>
  <% end %>
<% else %>
  <%= button_tag id: job.id, class: "btn apply_job add-apply", data: {toggle: "modal",
    target: "myModal", qualified_profile: job_object.qualified_profile?} do %>
      <%= icon("hand-o-up") %>
      <span class="tooltiptext tooltip-left"><%= t ".apply_job" %></span>
  <% end %>
<% end %>
