<header id="job-show-header">
  <div id="job-show-title-wrapper">
    <div class="title-icons">
      <span class="icon-job-type sales">
        <%= Job.human_enum_name :type_of_candidates, @job.type_of_candidates %>
      </span>
    </div>
    <hgroup>
      <h3 class="job-title"> <%= @job.title %></h3>
      <h5 class="company-name">
        <span class="company-logo">
          <% if @job_object.company.images.present? %>
            <%= link_to image_tag(@job.company.images.picture,
              size: Settings.jobs.image_company_size), company_path %>
          <% else %>
            <%= @job_object.company.name %>
          <% end %>
        </span>
      </h5>
    </hgroup>
  </div>
  <div class="job-show-cover-wrapper">
    <div class="cover-image">
      <% if @job.images.present? %>
        <%= link_to image_tag(@job.images.first.picture,
          size: Settings.jobs.image_size), @job %>
      <% else %>
        <%= link_to image_tag(Settings.jobs.image_url), @job %>
      <% end %>
    </div>
    <ul class="job-metas pagination cf">
      <li class="published-date">
        <span> <i class="icon-time"></i>
          <%= @job_object.published_date %>
        </span>
      </li>
      <li class="total-views">
        <span>
          <i class="icon-eye-open"></i> <%= t ".show.total_views" %>
        </span>
      </li>
    </ul>
  </div>
</header>
