<div class="row">
  <div class="col-md-4 col-xs-4">
    <%= link_to job, data: {lightbox: "image"} do %>
      <%= load_image_job job %>
    <% end %>
  </div>

  <div class="col-md-8 col-xs-8">
    <div class="entry-title">
      <ul class="entry-meta clearfix">
        <li>
          <span><%= l job.created_at, format: :long %></span>
        </li>
        <li>
          <span><%= link_to job.company_name, company_path(job.company) %></span>
        </li>
        <li>
          <span>3 <%= t ".comments" %></span>
        </li>
        <% if user_signed_in? %>
          <li>
            <span>
              <% if shared_job? job %>
                <%= link_to t(".unshare"), "#", class: "unshare-job",
                  data: {id: job.id} %>
              <% else %>
                <%= link_to t(".share"), "#", class: "share-job",
                  data: {id: job.id} %>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
      <h2>
        <%= link_to job.title, job_path(job) %>
      </h2>

      <div class="entry-content">
        <div class="clearfix"></div>
        <p>
          <b><%= t ".type_of_candidates" %></b>
          <%= job.type_of_candidates %>
        </p>
        <p>
          <%= job.describe.truncate_words Settings.jobs.words_count %>
        </p>
        <%= link_to t(".read_more"), job, class: "more-link" %>
      </div>
    </div>
  </div>
</div>
<hr>
