<% provide :title, t(".title") %>
<div class="container job-index-page">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <article class="post" id="post">
        <%= render @jobs if @jobs.any? %>
      </article>
      <div id="paginator">
        <%= paginate @jobs, remote: true %>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="primary-sidebar">
        <aside class="widget">
          <%= render "search_form" %>
          <%= render "filter_form" %>
        </aside>
        <aside class="widget">
          <h3 class="text-center"><%= t ".popular_job" %></h3>
          <hr>
          <div id="popular-post-list-sidebar">
            <% @jobs.last(Settings.jobs.popular).each do |popular| %>
              <%= render "popular_job", job: popular %>
            <% end %>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "job" %>
