<div class="container">
  </br>
  <div id="job-show-wrapper">
    <%= render "job_title" %>
    <div id="job-show-body">
      <div class="row two-column">
        <div class="col-md-8 column-main">
          <div class="column-main-inner">
            <%= render "members_of_company" %>
            <div class="job-description">
              <% if @job_object.team_introduction.any? %>
                <%= render "introduction_company" %>
              <% end %>
              <%= render "job_description" %>
              <%= render "basic_infor" %>
            </div>
          </div>
        </div>
        <div class="col-md-4 column-side">
          <% if user_signed_in? %>
            <div class="margin-section">
              <div class="row">
                <div class="col-md-6">
                  <%= render "candidate", job: @job %>
                </div>
                <div class="col-md-4">
                  <%= render "bookmark", job: @job %>
                </div>
              </div>
              <div class="person-apply">
                <%= t ".currently" %><%= "#{@job_object.count_candidates}" %>
                <%= t ".person_applied" %>
              </div>
              <div class="candidate-recommendation">
                <div class="location-padding">
                  <h4><%= t ".recommend" %></h4>
                  <%= render "recommend_user" %>
                </div>
              </div>
            </div>
            <div class="location">
              <div class="location-padding">
                <h4><%= t ".location" %></h4>
              </div>
              <div id="map" class="map">
              </div>
              <%= render "companies/gmap" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "posting_jobs" %>
  </div>
</div>
