<div class="container">
  </br>
  <div id="job-show-wrapper">
    <%= render "job_title" %>
    <div id="job-show-body">
      <div class="row two-column">
        <div class="col-md-8 column-main">
          <div class="column-main-inner">
            <%= render "members_of_company" %>
            <div class="job-description">
              <%= render "introduction_company" %>
              <%= render "job_description" %>
              <%= render "basic_infor" %>
            </div>
          </div>
        </div>
        <div class="col-md-4 column-side">
          <div class="apply_job">
            <% if user_signed_in? %>
              <% if check_apply_jobs(current_user.id, @job.id) %>
                <%= render "candidates/unapply_job", candidate: @candidate %>
              <% else %>
                <%= render "candidates/apply_job", candidate: @candidate %>
              <% end %>
              <%= render "bookmark", job: @job %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
