<% if current_user %>
  <div class="btn-bookmark">
    <div>
      <div class="tooltip-x">
        <%= render "bookmark", job: @job %>
      </div>
    </div>
    <div>
      <div class="tooltip-x">
        <%= render "candidate", job: @job %>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <article class="post">
        <div class="post-thumb">
          <% if @job.images.present? %>
            <%= link_to image_tag(@job.images.first.picture,
              size: Settings.jobs.image_size), @job %>
          <% else %>
            <%= link_to image_tag(Settings.jobs.image_url), @job %>
          <% end %>
          <div class="post-thumb-overlay">
            <div class="show-post-thumb-job">
              <div class="text-uppercase text-center">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <%= @job_object.published_date %>
              </div>
              <div class="text-uppercase text-center">
                <i class="fa fa-eye" aria-hidden="true"></i> <%= t ".total_views" %>
              </div>
              <% if can? :update, @job.company %>
                <div class="text-uppercase text-center">
                  <%= link_to edit_employer_company_job_path(@job) do %>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="post-content">
          <header class="entry-header text-center text-uppercase">
            <h6><a href="#"> <%= Job.human_enum_name :type_of_candidates, @job.type_of_candidates %></a></h6>
            <h1 class="entry-title"><a><%= @job.title %></a></h1>
            <h5 class="company-name text-right">
              <span class="company-logo">
                <% if @job_object.company.images.present? %>
                  <%= link_to image_tag(@job.company.images.first.picture,
                    size: Settings.jobs.image_company_size), company_path %>
                <% else %>
                  <%= link_to @job.company_name, company_path(@job.company) %>
                <% end %>
              </span>
            </h5>
          </header>
          <div class="entry-content">
            <p class="job-description"><%= @job.describe %></p>
          </div>
          <%= render "introduction_company" %>
          <div class="description">
            <h3 class="entry-title"><%= t ".description" %></h3>
            <%= render "basic_infor" %>
          </div>
        </div>
      </article>
    <%= render "posting_jobs" %>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="primary-sidebar">
        <aside class="widget company-location">
          <div class="location-map">
            <div class="location-content text-center map" id="map">
            </div>
            <h3 class="widget-title text-uppercase text-center">
              <%= t ".location", company_name: @job.company_name %>
            </h3>
          </div>
        </aside>
        <aside class="widget">
          <%= render "members_of_company" %>
        </aside>
        <aside class="widget">
          <%= render "recommend_user" %>
        </aside>
      </div>
    </div>
  </div>
</div>
<div class="apply-modal">
  <div class="modal fade" id="apply_job_modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content apply-job-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            <%= t ".apply_modal_header", company_name: @job.company_name %>
          </h4>
        </div>
        <div class="modal-body">
          <p><%= t ".interest_heading" %></p>
          <div class="radio">
            <label>
              <input type="radio" name="optradio">
              <%= t ".let_s_work_together" %>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optradio" checked="true">
              <%= t ".let_s_have_chat" %>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optradio"><%= t ".interest_me" %>
            </label>
          </div>
          <div class="navigation-modal">
            <button id="btn-apply-job-entry" type="button" name="button"
              class="button button-3d button-large button-rounded button-green"
              job="<%= @job.id %>">
              <%= t ".entry" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="apply-success-modal">
  <div class="modal fade" id="apply_job_success_modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;
          </button>
          <h4 class="modal-title"><%= t ".your_entry_complete" %></h4>
        </div>
        <div class="modal-body">
          <div class="icon-container">
            <%= image_tag asset_path("apply_success.png"),
              alt: t(".apply_success_alt") %>
          </div>
          <div class="text-container">

            <h3><%= t ".success_heading" %></h3>
            <p><%= t ".success_description" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="apply-failed-modal">
  <div class="modal fade" id="apply_job_failed_modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;
          </button>
          <h4 class="modal-title"><%= t ".apply_failed_title" %></h4>
        </div>
        <div class="modal-body">
          <div class="apply-failed-body">
            <div class="icon-container">
              <%= image_tag asset_path("need_update_profile.png"),
                alt: t(".need_update_profile_alt") %>
            </div>
            <div class="text-container">

              <h3><%= t ".should_update_heading" %></h3>
              <p><%= t ".should_update_heading_description" %></p>
            </div>
          </div>
          <div class="navigation-modal">
            <button id="btn_edit_profile" type="button" name="button"
              class="button button-large button-border button-rounded button-green"
              data-dismiss="modal">
              <%= t ".cancel" %>
            </button>
            <%= link_to t(".edit_profile"), "javascript:;",
              class: "button button-3d button-large button-rounded button-green" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "companies/gmap" %>
