<div class="container">
  </br>
  <div id="job-show-wrapper">
    <%= render "job_title" %>
    <div id="job-show-body">
      <div class="two-column">
        <div class="column-main">
          <div class="column-main-inner">
            <%= render "members_of_company" %>
            <div class="job-description">
              <%= render "introduction_company" %>
              <%= render "job_description" %>
              <%= render "basic_infor" %>
            </div>
          </div>
        </div>
        <div class="column-side"></div>
      </div>
    </div>
  </div>
</div>
