<div class="container">
  </br>
  <div id="job-show-wrapper">
    <%= render "job_title" %>
    <div id="job-show-body">
      <div class="row two-column">
        <div class="col-md-8 column-main">
          <div class="column-main-inner">
            <%= render "members_of_company" %>
            <div class="job-description">
              <%= render "introduction_company" %>
              <%= render "job_description" %>
              <%= render "basic_infor" %>
            </div>
          </div>
        </div>
        <div class="col-md-4 column-side">
          <% if user_signed_in? %>
            <div class="apply_job">
              <%= render "candidate", job: @job %>
            </div>
            <div class="bookmark">
              <%= render "bookmark", job: @job %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
