<div class="modal fade" id="modal_friend-<%= friend.id %>" tabindex="-1";
  aria-labelledby="modal_label_message" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-hidden="true"><%= t ".close" %></button>
        <h3 class="modal-title modal-title-custom" id="modal_label_message">
          <%= t ".friend" %>
        </h3>
      </div>
      <div class="modal-content-friend">
        <% friend.friends.each do |friend| %>
          <div class="row  panding-friend">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <%= link_to load_user_avatar(friend), user_path(friend) %>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= link_to friend.name, user_path(friend) %>
              <br>
              <i class="mutual-friend"><%= current_user.mutual_friends(friend).size %> <%= t ".mutual-friends" %></i>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_mutual_friend-<%= friend.id %>" tabindex="-1";
  aria-labelledby="modal_label_message" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-hidden="true"><%= t ".close" %></button>
        <h3 class="modal-title modal-title-custom" id="modal_label_message">
          <%= t ".mutual_friends" %>
        </h3>
      </div>
      <div class="modal-content-friend">
        <% friend.mutual_friends(current_user).each do |friend| %>
          <div class="row  panding-friend">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <%= link_to load_user_avatar(friend), user_path(friend) %>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= link_to friend.name, user_path(friend) %>
              <br>
              <i class="mutual-friend"><%= current_user.mutual_friends(friend).size %> <%= t ".mutual-friends" %></i>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
