<div class="row user-certificate-hidden-toggle
  <%= class_hidden user.certificates %>">
  <div class="panel panel-default user-info-panel">
    <div class="user-link">
      <strong class="user-certificate-title">
        <%= t ".certificate" %>
      </strong>
      <% if user.is_user? current_user %>
        <div class="edit-profile-button">
          <div class="btn-group">
            <%= link_to new_certificate_path, remote: true,
              class: "btn btn-default btn-sm tip btn-responsive" do %>
              <span class="icon-plus-sign"></span>
              <%= t ".add" %>
            <% end %>
            <button type="button"
              class="btn btn-default btn-sm tip btn-responsive dropdown-toggle"
              data-toggle="dropdown" aria-expanded="true">
              <%= information_status user, "certificate" %></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to "javascript:;", class: "edit-info-status",
                  data: {status: InfoUser::INFO_STATUS[:only_me],
                    info: "certificate", id: current_user.info_user.id} do %>
                  <span class="icon-lock"> <%= t ".only_me" %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "javascript:;", class: "edit-info-status",
                  data: {status: InfoUser::INFO_STATUS[:public],
                    info: "certificate", id: current_user.info_user.id} do %>
                  <span class="icon-globe"> <%= t ".public" %></span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
      <hr>
      <div class="list-user-certificate">
        <%= render partial: "certificates/certificate",
          collection: user.certificates.newest %>
      </div>
    </div>
  </div>
</div>
