 <div class="modal fade" id="user-work-form" role="dialog">
  <div class="modal-dialog">
  <%= simple_form_for @user_work, remote: true do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><%= t ".header" %></h4>
      </div>
      <div class="modal-body">
        <%= f.label :organization, t(".company") %>
        <div class="form-group dropdown">
          <%= f.text_field :organization,
            value: @user_work.organization_name,
            class: "form-control dropdown-toggle",
            placeholder: t(".company"),
            "data-toggle": "dropdown", "aria-hidden": :true,
            autocomplete: :off, required: true, id: "livesearch_input" %>
          <ul class="dropdown-menu form-control org-search-result">
            <div id="livesearch_dom"></div>
          </ul>
        </div> 
        <%= f.label :position, t(".position") %>
        <%= f.text_field :position,
          placeholder: t(".position"), class: "form-control" %>
        <%= f.label :start_time, t(".start_time") %>
        <%= f.date_field :start_time,
          class: "form-control",
          placeholder: t(".start_date") %>
        <%= f.label :end_time, t(".end_time") %>
        <%= f.date_field :end_time,
          class: "form-control",
          placeholder: t(".start_date") %>
        <%= f.label :stauts, t(".status") %>
        <%= f.select :status, 
          options_for_select(work_status_select),{},
          class: "form-control inline" %>
        <%= f.label :description, t(".description") %>
        <%= f.text_field :description,
          placeholder: t(".description"), class: "form-control" %>
      </div>
      <div class="modal-footer text-center">
        <%= f.submit t(".update"), class: "btn btn-primary add-user-work-btn" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t ".close" %>
        </button>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= javascript_include_tag "org_search" %>
