<div>
  <% portfolios.each do |portfolio| %>
    <div class="row">
      <div class="col-md-12 portfolio-padding hover-portfolio" id="portfolio-<%= portfolio.id %>">
        <div class="col-md-6">
          <% if portfolio.images.present? %>
            <%=  image_tag portfolio.images.first.picture,
              size: Settings.user_portfolio.size_image %>
          <% else %>
            <%= image_tag "portfolio", size: Settings.user_portfolio.size_image %>
          <% end %>
        </div>
        <div class="col-md-6 hover-content">
          <span class="content-portfolio">
            <div>
              <%= truncate portfolio.title, length: Settings.user_portfolio.limit_title %>
              <span class="hover-button-portfolio">
                <% if portfolio.user.is_user? current_user %>
                  <%= link_to edit_user_portfolio_path(portfolio), remote: true, class: "left-icon" do %>
                    <i class="icon-pencil"></i> <%= t ".edit" %>
                  <% end %>
                  <%= link_to user_portfolio_path(portfolio), remote: true, method: :delete, data: {confirm: t(".sure")} do %>
                    <span class="icon-trash"></span> <%= t ".delete" %>
                  <% end %>
                <% end %>
              </span>
            </div>
            <div class="details-portfolio">
              <%= portfolio.time %>
            </div>
            <div class="details-portfolio">
              <%= truncate portfolio.description, length: Settings.user_portfolio.limit_description %>
            </div>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
