<div class="row user-portfolio-hidden-toggle
  <%= class_hidden portfolios %>">
  <div class="panel panel-default user-info-panel">
    <strong class="user-portfolio-header"><%= t ".user_portfolio" %></strong>
    <% if user.is_user? current_user %>
      <div class="edit-profile-button">
        <div class="btn-group">
          <%= link_to new_user_portfolio_path, remote: true,
            class: "btn btn-default btn-sm tip btn-responsive" do %>
            <span class="icon-plus-sign"></span>
            <%= t ".add" %>
          <% end %>
          <button type="button"
            class="btn btn-default btn-sm tip btn-responsive dropdown-toggle"
            data-toggle="dropdown" aria-expanded="true">
            <%= information_status user, "portfolio" %></span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to "javascript:;", class: "edit-info-status",
                data: {status: InfoUser::INFO_STATUS[:only_me],
                  info: "portfolio", id: current_user.info_user.id} do %>
                <span class="icon-lock"> <%= t ".only_me" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to "javascript:;", class: "edit-info-status",
                data: {status: InfoUser::INFO_STATUS[:public],
                  info: "portfolio", id: current_user.info_user.id} do %>
                <span class="icon-globe"> <%= t ".public" %></span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="show-portfolio">
      <%= render "user_portfolios/show_portfolio", portfolios: portfolios %>
    </div>
  </div>
</div>
