<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "employer/layouts/employer_head" %>
    <%= render "layouts/shim" %>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%= render "employer/layouts/employer_header", company: @company %>
        <div class="right_col" role="main">
          <%= render "shared/flash" %>
          <%= yield %>
        </div>
        <%= render "employer/layouts/employer_footer" %>
      </div>
    </div>
    <%= javascript_include_tag "employer", "data-turbolinks-track": "reload" %>
  </body>
</html>
