<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "employer/layouts/head" %>
    <%= render "layouts/shim" %>
  </head>
  <body class="stretched custom-fixed">
    <div id="wrapper" class="clearfix">
      <%= render "employer/layouts/header" %>
      <div class="container-fluid clearfix">
        <div class="container clearfix container-margin">
          <%= render "shared/flash" %>
          <%= render "employer/layouts/sidebar" %>
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>

    <div id="gotoTop" class="icon-angle-up"></div>
    <%= javascript_include_tag "template" %>
  </body>
</html>
