<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "employer/layouts/head" %>
    <%= render "layouts/shim" %>
  </head>
  <body class="stretched custom-fixed" data-company="<%= @company.id %>">
    <div id="wrapper" class="clearfix">
      <%= render "employer/layouts/header" %>
      <div class="row">
        <%= render "shared/flash" %>

        <%= render "employer/layouts/sidebar" %>
        <div class="main-employer"><%= yield %></div>
      </div>

    </div>

    <div id="gotoTop" class="icon-angle-up"></div>
    <%= javascript_include_tag "template" %>
  </body>
</html>
