<% comments.each do |comment| %>
  <li class="comment even thread-even depth-1" id="li-comment-1">
    <div id="comment-1" class="comment-wrap clearfix">
      <div class="comment-meta">
        <div class="comment-author vcard">
          <span class="comment-avatar clearfix">
            <%= image_tag comment.user_avatar.url, alt: comment.user_name,
              class: "avatar avatar-60 photo avatar-default",
              size: Settings.education.post.comment_item_avatar_size %>
          </span>
        </div>
      </div>
      <div class="comment-content clearfix">
        <div class="comment-author"><%= comment.user_name %>
          <span>
            <%= link_to "#" do %>
              <%= comment.created_at.to_formatted_s :long_ordinal %>
            <% end %>
          </span>
        </div>
        <p><%= comment.content %></p>
        <a class="comment-reply-link" href="#"><i class="icon-reply"></i></a>
      </div>
      <div class="clear"></div>
    </div>
  </li>
<% end %>
