<div class="row user-skill">
  <div class="skill-info col-md-12">
    <ul class="skill-user-show">
      <div class="col-md-8 skills">
        <%= skill_user.skill_name %>
        <li data-percent="<%= skill_user.level %>" class = "user-skill-li">
          <div class="progress skills-animated" style="width: <%= skill_user.level %>%;">
            <div class="progress-percent">
              <div class="counter counter-inherit counter-instant">
                <span data-from="0" data-to="<%= skill_user.level %>" data-refresh-interval="30" data-speed="1100"><%= skill_user.level %></span>%</div>
            </div>
          </div>
          <div class="skill-level-user">
            <%= skill_user.level %>%
          </div>
        </li>
      </div>
    </ul>
    <% if skill_user.user.is_user? current_user %>
      <div class="edit-skill">
        <span>
          <%= link_to edit_skill_user_path(skill_user), remote: true do %>
            <span class="icon-pencil"></span> <%= t ".edit" %>
          <% end %>
        </span>
        <span>&nbsp</span>
        <span>
          <%= link_to skill_user_path(skill_user), remote: true,
            method: :delete, data: {confirm: t(".sure")} do %>
            <span class="icon-trash"></span> <%= t ".delete" %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "load_more_skill" %>
