<div class="row user-skill">
  <div class="skill-info col-md-12">
    <ul class="skill-user-show">
      <div class="col-md-8">
        <li data-percent="<%= skill_user.level %>">
          <%= skill_user.skill_name %>
          <div class="range-points">
            <input disabled type="range" name="points" id="points"
              value="<%= skill_user.level %>" min="0" max="100"
              data-show-value="true" disable="true">
          </div>
          <div class="skill-level-user">
            <%= skill_user.level %>%
          </div>
        </li>
      </div>
    </ul>
    <% if skill_user.user.is_user? current_user %>
      <div class="edit-skill">
        <span>
          <%= link_to edit_skill_user_path(skill_user), remote: true do %>
            <span class="icon-pencil"></span> <%= t ".edit" %>
          <% end %>
        </span>
        <span>&nbsp</span>
        <span>
          <%= link_to skill_user_path(skill_user), remote: true,
            method: :delete, data: {confirm: t(".sure")} do %>
            <span class="icon-trash"></span> <%= t ".delete" %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<hr>
