<li class="media">
  <%= link_to load_user_avatar(share_job.user, class: "img-responsive img-thumbnail",
    size: Settings.jobs.image_member_size), share_job.user, class: "pull-left" %>
  <div class="media-body">
    <span class="text-muted pull-right">
      <small class="text-muted">
        <%= t ".shared_at" %><%= I18n.localize share_job.created_at, format: :long %>
      </small>
    </span>
    <strong class="text-success"><%= share_job.user_name %></strong>
    <div class="job">
      <%= render partial: "share_jobs/job", locals: {job: share_job.job,
        user: share_job.user} %>
    </div>
  </div>
</li>
