<tr id="<%= dom_id(job) %>">
  <td><%= job.title %></td>
  <td><%= job.describe %></td>
  <td><%= job.who_can_apply %></td>
  <td><%= job.type_of_candidates %></td>
  <td>
    <%= button_tag t(".reopen"), id: "#{job.id}", class: "reopen btn btn-info" %>
  </td>
</tr>
