<tr id="<%= dom_id(job) %>">
  <td>
    <%= link_to job.title, job_path(job) %>
  </td>
  <td><%= job.describe %></td>
  <td>
    <%= Job.human_enum_name :who_can_apply, job.who_can_apply %>
  </td>
  <td>
    <%= Job.human_enum_name :type_of_candidates, job.type_of_candidates %>
  </td>
  <td>
    <%= Job.human_enum_name :status, job.status %>
  </td>
  <td>
    <%= button_tag t(".reopen"), id: "#{job.id}", class: "reopen btn btn-info" %>
  </td>
</tr>
