<div class="btn-group btn-filter">
  <button type="button" class="btn btn-default dropdown-toggle button-show-filter"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-filter" aria-hidden="true"></i>
  </button>
  <div class="dropdown-menu filter" data-filter="id" data-model="team">
    <ul>
      <li>
        <button class="button-sort sortAlpha" data-sort-by="ASC">
          <%= t "employer.sortaz" %>
        </button>
      </li>
      <li>
        <button class="button-sort sortAlpha" data-sort-by="DESC">
          <%= t "employer.sortza" %>
        </button>
      </li>
      <hr />
      <li>
        <button data-toggle="collapse" data-target="#demo2"
          class="button-sort button-show-value">
          <%= t "employer.sortvalue" %>
        </button>
        <div id="demo2" class="collapse in value-sort">
          <div class="link">
            <a class="checkall"><%= t "employer.checkall" %></a>
            - <a class="delete"><%= t "employer.delete" %></a>
          </div>
          <div id="imaginary_container">
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control search-user-filter"
                placeholder="<%= t "employer.teams.search" %>">
              <span class="input-group-addon">
                <button type="submit" disabled>
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="list-item-value">
            <% @teams.each_with_index do |key, team| %>
              <div class="checkbox">
                <input id="checkbox-status-<%= team %>" type="checkbox"
                  class="styled checkboxitem" data-list-id="<%= team %>" checked>
                <label for="checkbox-status-<%= team %>" class="label-user-name">
                  <%= key.name %>
                </label>
                <br>
              </div>
            <% end %>
          </div>
        </div>
      </li>
      <li class="button-direct">
        <button type="button" class="btn btn-primary btn-ok btn-sm">
          <%= t "employer.ok" %>
        </button>
        <button type="button" class="btn btn-default btn-cancel btn-sm">
          <%= t "employer.cancel" %>
        </button>
      </li>
    </ul>
    <%= hidden_field_tag "company-id", @company.id %>
  </div>
</div>
