<div class="container clearfix container-margin">
  <div class="nobottommargin col_last clearfix">
    <div class="tab-content clearfix">
      <%= form_for @job, url: url, html:{class: "job-form"} do |f| %>
        <%= render "info_hiring_type", f: f %>
        <fieldset class="input required member-important">
          <table class="table custab">
            <tr>
              <h3 class="question-des-job" for="member-important">
                <%= t ".question_des_job" %>
              </h3>
            </tr>
            <tr>
              <h5><%= t ".des_job_last" %></h5>
            </tr>
          </table>
        </fieldset>
        <%= render "job_detail", f: f %>
        <fieldset class="input required action-create-job">
          <table class="table custab">
            <tr>
              <td class="col-md-3 button-right">
                 <%= f.submit t(".submit"), class: "btn btn-success" %>
              </td>
            </tr>
          </table>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

