<fieldset class="input required job_looking_for">
  <div class="custab">
    <label class="required control-label" for="job_looking_for">
      <%= t ".looking_for" %> <span class="require">*</span>
    </label>
    <%= f.select :type_of_candidates, Job::TYPEOFCANDIDATES,
      {selected: @job.type_of_candidates}, class: "form-control" %>
  </div>
</fieldset>
<fieldset class="input required job_hiring_types">
  <div class="custab selection">
    <label class="required control-label" for="job_hiring_type">
      <%= t ".hiring_type" %> <span class="require">*</span>
    </label>
    <div class="selection">
      <ul class="collection-wrapper">
        <%= f.collection_check_boxes :hiring_type_ids, @hiring_types,
          :id, :name do |hiring_type| %>
          <li>
            <%= hiring_type.check_box %>
            <%= hiring_type.text %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</fieldset>
<fieldset class="input required job_can_apply">
  <div class="custab">
    <label class="required control-label">
      <%= t ".who_can_apply" %> <span class="require">*</span>
    </label>
    <div class="selection">
      <ul class="collection-wrapper">
        <li>
          <%= f.radio_button :who_can_apply, :everyone, checked: true %>
          <%= t ".everyone" %>
        </li>
        <li>
          <%= f.radio_button :who_can_apply, :friends_of_members %>
          <%= t ".friends_om" %>
        </li>
        <li>
          <%= f.radio_button :who_can_apply, :friends_of_friends_of_member %>
          <%= t ".of_friends_om" %>
        </li>
      </ul>
    </div>
  </div>
</fieldset>
<fieldset class="input required">
  <div class="custab job-image">
    <%= f.fields_for :images, html: {multipart: true} do |ff| %>
      <label class="required control-label">
        <%= ff.label :image %>
      </label>
      <%= ff.file_field :picture, id: "load-file" %>
      <label class="required control-label">
        <%= ff.label :caption %>
      </label>
      <%= ff.text_field :caption, class: "form-control" %>
    <% end %>
  </div>
</fieldset>
