<fieldset class="input required job_looking_for">
  <table class="table custab">
    <tr>
      <td class="col-md-4">
        <label class="required control-label" for="job_looking_for">
          <%= t ".looking_for" %><span class="require">*</span>
        </label>
      </td>
      <td class="col-md-4">
        <%= f.select :type_of_candidates, Job::TYPEOFCANDIDATES,
          {selected: @job.type_of_candidates}, class: "form-control" %>
      </td>
      <td class="col-md-4"></td>
    </tr>
  </table>
</fieldset>
<fieldset class="input required job_hiring_types">
  <table class="table custab">
    <tr>
      <td class="col-md-4">
        <label class="required control-label" for="job_hiring_type">
        <%= t ".hiring_type" %><span class="require">*</span>
        </label>
      </td>
      <td>
        <table class="table custab tab-hiring-type">
          <span>
            <%= f.collection_check_boxes :hiring_type_ids, @hiring_types,
              :id, :name do |hiring_type| %>
              <%= hiring_type.label do %>
                <tr>
                  <td class="col-md-1"><%= hiring_type.check_box %></td>
                  <td><%= hiring_type.text %></td>
                </tr>
              <% end %>
            <% end %>
          </span>
        </table>
      </td>
    </tr>
  </table>
</fieldset>
<fieldset class="input required job_can_apply">
  <table class="table custab">
    <tr>
      <td class="col-md-4">
        <label class="required control-label">
          <%= t ".who_can_apply" %><span class="require">*</span>
        </label>
      </td>
      <td>
        <table class="table custab tab-can-apply">
          <tr>
            <td class="col-md-1">
              <%= f.radio_button :who_can_apply, :everyone, checked: true %>
            </td>
            <td><%= t ".everyone" %></td>
          </tr>
          <tr>
            <td>
              <%= f.radio_button :who_can_apply, :friends_of_members %>
            </td>
            <td><%= t ".friends_om" %></td>
          </tr>
          <tr>
            <td>
              <%= f.radio_button :who_can_apply,
                :friends_of_friends_of_member %>
            </td>
            <td><%= t ".of_friends_om" %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</fieldset>
<fieldset class="input required job_image">
  <table class="table custab">
    <tr>
      <td class="col-md-4 picture">
        <%= f.fields_for :images, html: {multipart: true} do |ff| %>
          <label class="required control-label">
            <%= ff.label :image %>
          </label>
          <div>
            <%= ff.file_field :picture, id: "load-file", class: "form-control" %>
          </div>
          <div>
            <label class="required control-label">
              <%= ff.label :caption %>
            </label>
            <%= ff.text_field :caption, class: "form-control" %>
          </div>
        <% end %>
      </td>
      <td>
      </td>
    </tr>
  </table>
</fieldset>
