<fieldset class="input required member-important">
  <table class="table custab">
    <tr>
      <h3 class="question-des-job" for="member-important">
        <%= t ".question_des_job" %>
      </h3>
    </tr>
    <tr>
      <h5><%= t ".des_job_last" %></h5>
    </tr>
  </table>
</fieldset>
<%= render "job_detail", f: f %>
<fieldset class="input required action-create-job">
  <table class="table custab">
    <tr>
      <td class="col-md-4 button-right">
        <%= f.submit t(".preview"), name: "preview", class: "btn btn-success" %>
        <%= f.submit t(".community"), name: "community",
          class: "btn radius btn-primary next" %>
      </td>
    </tr>
  </table>
</fieldset>
