<% jobs.each do |job| %>
  <tr id="<%= dom_id(job) %>">
    <td>
      <%= link_to job.title, job_path(job) %>
    </td>
    <td>
      <%= Job.human_enum_name :status, job.status %>
    </td>
    <td>
      <%= job.candidates.length %>
      (<%= link_to t(".candidates"), employer_company_candidates_path(job_id: job.id) %>)
    </td>
    <td>
      <%= button_tag t(".close"), id: "#{job.id}", class: "draft btn btn-warning test" %>
    </td>
    <input type="hidden" id="company-id" value="<%= @company.id %>">
  </tr>
<% end %>
