<tr>
  <td><%= job.title %></td>
  <td><%= job.describe %></td>
  <td><%= job.who_can_apply %></td>
  <td><%= job.type_of_candidates %></td>
  <td><%= link_to t(".edit"), edit_employer_company_job_path(job) %></td>
</tr>
