<% jobs.each do |job| %>
  <tr id="<%= dom_id(job) %>">
    <td>
      <%= link_to job.title, edit_employer_company_job_path(@company.id, job.id) %>
    </td>
    <td class="status">
      <%= Job.human_enum_name :status, job.status %>
    </td>
    <td>
      <%= job.candidates.length %>
      (<%= link_to t(".candidates"), employer_company_candidates_path(job_id: job.id) %>)
    </td>
    <td class="action">
      <% if job.active? %>
        <%= button_tag t(".close"), id: "#{job.id}", class: "close-job btn btn-warning test" %>
      <% else %>
        <%= button_tag t(".public"), id: "#{job.id}", class: "public-job btn btn-default test" %>
      <% end %>
    </td>
    <input type="hidden" id="company-id" value="<%= @company.id %>">
  </tr>
<% end %>
