<div class="col-sm-12">
  <div class="clearfix" id="jobs-management">
    <h3><span> <%= t "employer.jobs.team" %> *</span></h3><br>
    <div class="container">
      <div class="row">
        <section class="content">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-container">
                  <table class="table table-striped custab">
                    <thead>
                      <tr class="headings">
                        <th class="job-title">
                          <%= render "filter_team" %>
                          <%= t "employer.jobs.team_name" %>
                        </th>
                        <th class="col-checkbox">
                          <div class="ckbox">
                            <input type="checkbox" id="checkbox-check-all">
                            <label for="checkbox-check-all"></label>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <%= render "job_list", f: f %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="pagination-job">
      <div>
        <%= page_entries_info @teams %>
      </div>
      <div>
        <%= paginate @teams, params: {controller: "employer/teams",
          action: "index", paginate_team: 1} %>
      </div>
    </div>
  </div>
</div>
