<% provide :title, t(".job") %>
<div class="clearfix" id="jobs-management">
  <h3><%= t ".job_recruitment" %></h3>
  <div class="row group-btn">
    <div class="btn-action-job button-create-job">
      <%= link_to t(".create_job"), new_employer_company_job_path(@company),
        class: "btn btn-primary" %>
    </div>
    <div class="btn-action-job button-delete-job">
      <button type="button" class="btn btn-danger">
        <%= t ".delete_job" %>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <section class="content">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-container">
                <table class="table table-striped custab">
                  <thead>
                    <tr class="headings">
                      <th class="col-checkbox">
                        <div class="ckbox">
                          <input type="checkbox" id="checkbox-check-all">
                          <label for="checkbox-check-all"></label>
                        </div>
                      </th>
                      <th class="job-title">
                        <%= t ".title" %>
                      </th>
                      <th class="job-status">
                        <%= render "filter_status" %>
                        <%= t ".status" %>
                      </th>
                      <th class="job-candidates">
                        <%= t ".candidates" %>
                      </th>
                      <th class="job-messages">
                        <%= t ".messages" %>
                      </th>
                      <th class="job-action">
                        <%= t ".action" %>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="jobs-list">
                    <%= render "job", jobs: @jobs, company: @company %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="pagination-job">
    <%= render "paginate", jobs: @jobs %>
  </div>
  <input type="hidden" id="company-id" value="<%= @company.id %>">
</div>
