<div class="new dashboard_graph">
  <div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps">
      <li>
        <a id = "a_step1" href="#step-1">
          <span class="step_no"><%= t ".step_no_1" %></span>
          <span class="step_descr"><%= t ".step_1" %><br />
            <small><%= t ".job" %></small>
          </span>
        </a>
      </li>
      <li>
        <a id = "a_step2" href="#step-2">
          <span class="step_no"><%= t ".step_no_2" %></span>
          <span class="step_descr"><%= t ".step_2" %><br />
            <small><%= t ".members" %></small>
          </span>
        </a>
      </li>
      <li>
        <a id = "a_step3" href="#step-3">
          <span class="step_no"><%= t ".step_no_3" %></span>
          <span class="step_descr"><%= t ".step_3" %><br />
            <small><%= t ".create_team_story" %></small>
          </span>
        </a>
      </li>
    </ul>
    <div id="step-1">
      <h2 class="StepTitle"><%= t ".job" %></h2>
      <div class="form_ajax">
        <%= render "info_hiring_type", url: employer_company_jobs_path,
          job: @job, hiring_types: @hiring_types %>
      </div>
    </div>
    <div id="step-2">
      <h2 class="StepTitle"><%= t ".members" %></h2>
      <div class="step-2-content"></div>
      <div class="container">
        <div class="col-md-3">
          <a href="#" class="buttonPrevious buttonDisabled btn btn-primary text-right">
            <%= t ".previous" %>
          </a>
        </div>
        <div class="col-md-3 col-md-offset-6">
          <%= submit_tag t(".save_continue"), class: "buttonNext btn btn-success text-right" %>
        </div>
        </div>
    </div>
    <div id="step-3">
      <h2 class="StepTitle"><%= t ".create_team_story" %></h2>
    </div>
  </div>
</div>
