<div class="row user-award-hidden-toggle
  <%= class_hidden awards %>">
  <div class="panel panel-default user-info-panel">
    <div class="award-header">
      <strong><%= t ".user_award" %></strong>
      <% if user.is_user? current_user %>
        <div class="edit-profile-button">
          <div class="btn-group">
            <%= link_to new_award_path, remote: true,
              class: "btn btn-default btn-sm tip btn-responsive award" do %>
              <span class="icon-plus-sign"></span>
              <%= t ".add" %>
            <% end %>
            <button type="button"
              class="btn btn-default btn-sm tip btn-responsive dropdown-toggle"
              data-toggle="dropdown" aria-expanded="true">
              <%= information_status user, "award" %></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to "javascript:;", class: "edit-info-status",
                  data: {status: InfoUser::INFO_STATUS[:only_me],
                    info: "award", id: current_user.info_user.id} do %>
                  <span class="icon-lock"> <%= t ".only_me" %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "javascript:;", class: "edit-info-status",
                  data: {status: InfoUser::INFO_STATUS[:public],
                    info: "award", id: current_user.info_user.id} do %>
                  <span class="icon-globe"> <%= t ".public" %></span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <div class="show-award">
      <%= render "awards/show_award", awards: awards %>
    </div>
  </div>
</div>
