<% user.user_projects.each do |project| %>
  <div>
    <strong><%= link_to project.title, project.url %></strong>
    <span class="work-action">
      <% if user.is_user? current_user %>
        <%= link_to edit_user_project_path(project.id),
          remote: true, class: "left-icon" do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to user_project_path(project.id), method: :delete,
          remote: true, data: {confirm: t(".sure")}, class: "left-icon" do %>
          <i class="icon-trash"></i>
        <% end %>
      <% end %>
    </span>
    <span class="work-time">
      <%= l project.start_date, format: :long %>
      <%= t ".split" %>
      <%= l project.end_date,  format: :long %>
    </span>
  </div>
  <div class="work-info">
    <%= project.description %>
  </div>
  <li class="divider work-divider"></li>
<% end %>
