<% user.user_projects.each do |project| %>
  <div class="link-info">
    <strong><%= link_to project.title, project.url %></strong>
    <span class="work-action">
      <% if user.is_user? current_user %>
        <span class="edit-link">
          <span>
            <%= link_to edit_user_project_path(project), remote: true do %>
              <span class="icon-pencil"></span> <%= t ".edit" %>
            <% end %>
          </span>
          <span>&nbsp</span>
          <span>
            <%= link_to user_project_path(project), remote: true,
              method: :delete, data: {confirm: t(".sure")} do %>
              <span class="icon-trash"></span> <%= t ".delete" %>
            <% end %>
          </span>
        </span>
      <% end %>
    </span>
    <span class="work-time">
      <%= l project.start_date, format: :long %>
      <%= t ".split" %>
      <%= l project.end_date,  format: :long %>
    </span>
  </div>
  <div class="work-info">
    <%= project.description %>
  </div>
  <li class="divider work-divider"></li>
<% end %>
