<% if candidates.empty? %>
  <tr class="show-filter-result">
    <td colspan="5">
      <b><%= t ".total_rows", row: 0 %></b>
    </td>
  </tr>
<% end %>

<% candidates.each_with_index do |candidate, index| %>
  <tr data-status="pagado">
    <td class="col-check">
      <div class="ckbox">
        <input type="checkbox" id="checkbox<%= candidate.id %>">
        <label for="checkbox<%= candidate.id %>"></label>
      </div>
    </td>

    <td class="col-avatar">
      <%= load_avatar_candidate candidate %>
    </td>
    <td class="col-username">
      <span class="title"><b><%= candidate.user_name %></b>
        <span class="pull-right job">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
      </span>
      <p class="summary"><%= candidate.user_email %></p>
    </td>
    <td class="col-interested">
      <span class="media-meta pull-left">
        <b>
          <%= Candidate.human_enum_name :interested_in,
            candidate.interested_in %>
        </b>
      </span>
    </td>
    <td class="col-process">
      <span class="media-meta pull-left process">
        <b class="btn btn-<%= candidate.process.first %> btn-xs">
          <%= Candidate.human_enum_name :process,
            candidate.process %>
        </b>
        <div class="popup-change-status"
          data-candidate-id="<%= candidate.id %>">
          <%= render "change_process", process: candidate.process %>
          <%= render partial: "change_process", process: candidate.process %>
        </div>
      </span>
    </td>
  </tr>
<% end %>
