<% provide :title, t(".title") %>
<h1 class="text-left"><%= t ".title" %></h1>
<div class="clearfix">
  <div class="x_content">
    <div class="row form-group">
      <p class="candidate-select-box"><%= t ".filter_candidate" %></p>
      <div class="col-md-6">
        <%= select(:job, :job_id, @object.active_jobs.collect {|p| [ p.title, p.id ] },
          {include_blank: t(".all_jobs"), selected: params[:select]},
          class: "form-control select-job") %>
        </div>
      </div>
    </div>
    <input type="hidden" id="company-id" value="<%= @company.id %>">
  </div>
  <div class="container table-candidates">
    <div class="row">
      <section class="content">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-container">
                <table class="table">
                  <thead>
                    <tr class="headings">
                      <th class="col-checkbox">
                        <div class="ckbox">
                          <input type="checkbox" id="checkbox0">
                          <label for="checkbox0"></label>
                        </div>
                      </th>
                      <th class="col-avatar"></th>
                      <th class="column-title col-username">
                        <%= render "filter_name", object: @object %>
                        <%= t ".name" %>
                      </th>
                      <th class="column-title col-interested">
                        <%= render "filter_interested" %>
                        <%= t ".interested" %>
                      </th>
                      <th class="column-title col-process">
                        <%= render "filter_process" %>
                        <%= t ".process" %>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="list-candidates" class="show-list-candidates">
                    <%= render "candidate", candidates: @candidates %>
                  </tbody>
                </table>
                <div class="pagination-bar">
                  <%= render "paginate" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
