<div class="modal fade" id="changeCoverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"><%= t ".update_cover" %></h4>
      </div>
      <div class="upload-user-avatar">
        <%= load_companies_cover @company, class: "img-thumbnail img-avatar-upload img-upload",
            alt: @company.name %>
      </div>
        <%= form_tag companies_cover_index_path, id: "form-create-cover", multipart: true, method: :post do |f| %>
          <div class="row">
            <div class="col-md-6">
              <%= hidden_field_tag "id" , @company.id %>
              <%= file_field_tag :picture, class: "btn btn-default change-image form-control" %>
            </div>
            <div class="col-md-6">
              <%= link_to t(".from_album"), "#",
                class: "btn btn-default form-control album-for-user" %>
            </div>
          </div>
        <% end %>
        <%= form_tag companies_cover_path(@company), method: :patch, multipart: true,
          id: "form-update-cover" do %>
          <div class="album-image">
            <%= hidden_field_tag :image_id, "", class: "user-old-image" %>
            <% if @company.images.any? %>
              <% @company.images.each do |image| %>
                <div class="col-md-2 user-image-div">
                  <%= image_tag image.picture, alt: "", class: "user-image-img",
                    id: "user-image-#{image.id}", data: {id: image.id} %>
                </div>
              <% end %>
            <% else %>
              <p><%= t ".no_image" %></p>
            <% end %>
          </div>
        <% end %>
        <div class="modal-footer">
          <%= submit_tag t(".save"), class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>
