<%= content_for :javascript do %>
  <%= javascript_include_tag "company" %>
<% end %>
<div class="col-md-8">
  <article class="post show-tab-user">
    <div class="clearfix">
      <div class="hide-tab active" id="tab-info">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <colgroup>
              <col class="col-xs-3">
              <col class="col-xs-5">
              <col class="col-xs-4">
            </colgroup>
            <thead>
              <tr>
                <th><%= t ".founder" %></th>
                <th><%= t ".founded" %></th>
                <th><%= t ".no_of_members" %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= company.founder %>
                </td>
                <td><code><%= company.founder_on %></code></td>
                <td><code><%= company.company_size %></code></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="hide-tab clearfix" id="tab-news">
        <input type="hidden" id="company-id" value="<%= company.id %>">
        <div class="show-article">
          <%= render "articles", articles: articles %>
        </div>
        <div class="pagination-article">
          <%= render "article_paginate", articles: articles %>
        </div>
      </div>
      <div class="hide-tab clearfix" id="tab-jobs">
        <%= render "company_jobs", company_jobs: company_jobs %>
      </div>
      <div class="hide-tab clearfix" id="tab-members">
        <div class="row topmargin-sm">
          <div class="col-md-3 col-sm-6 bottommargin">
            <div class="team">
              <div class="team-image">
                <%= image_tag "avatar.jpg", alt: "John Doe" %>
              </div>
              <div class="team-desc">
                <div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 bottommargin">
            <div class="team">
              <div class="team-image">
                <%= image_tag "avatar.jpg", alt: "Josh Clark" %>
              </div>
              <div class="team-desc">
                <div class="team-title"><h4>Josh Clark</h4><span>Co-Founder</span></div>
                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 bottommargin">
            <div class="team">
              <div class="team-image">
                <%= image_tag ImageUploader.new.default_url, alt: "Mary Jane" %>
              </div>
              <div class="team-desc">
                <div class="team-title"><h4>Mary Jane</h4><span>Sales</span></div>
                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hide-tab clearfix" id="tab-stats">
        <div class="row topmargin-sm">
        </div>
      </div>
    </div>
  </article>
</div>
