<div class="container">
  <div class="row">
    <div class="col-md-12">
      <article class="show-header-user post">
        <div class="cover-image">
          <%= load_companies_cover company, class: "img-cover",
            alt: company.name %>
          <% if can? :update, company %>
            <div class="ico-upload-cover" data-toggle="modal"
              data-target="#changeCoverModal">
              <%= icon "camera" %>
              <span><%= t ".change_cover" %></span>
            </div>
          <% end %>
        </div>
        <%= hidden_field_tag :company_id, company.id %>
        <a class="navbar-brand avatar-user" href="#" data-toggle="modal"
          data-target="#changeAvatarModal">
          <%= load_companies_avatar company, class: "img-avatar", alt: company.name %>
          <% if can? :update, company %>
            <div class="icon-upload-avatar">
              <h3 class="glyphicon glyphicon-camera"></h3>
            </div>
          <% end %>
        </a>
        <span class="site-name"><b><%= company.name %></b></span>
        <span class="site-description">
          <%= company.website %>
          <%= render "follow_form", company: company if user_signed_in? %>
        </span>
        <div id="mainNav">
          <ul class="main-menu user-show">
            <li class="active">
              <a data-target="tab-info">
                <i class="icon-rss2"></i>
                <b><%= t ".info" %></b>
              </a>
            </li>
            <li>
              <a data-target="tab-news">
                <i class="icon-pencil2"></i>
                <b><%= t ".news" %></b>
              </a>
            </li>
            <li>
              <a data-target="tab-jobs">
                <i class="icon-reply"></i>
                <b><%= t ".jobs" %></b>
              </a>
            </li>
            <li>
              <a data-target="tab-members">
                <i class="icon-users"></i>
                <b><%= t ".members" %></b>
              </a>
            </li>
            <li>
              <a data-target="tab-stats">
                <i class="icon-users"></i>
                <b><%= t ".stats" %></b>
              </a>
            </li>
            <li>
              <%= social_share_button_tag company.name %>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>
<%= render "modal_change_avatar_company", company: company %>
<%= render "modal_change_cover_company", company: company %>
