<div class="col-md-4">
  <article class="post show-tab-user">
    <div class="topmargin-custom title-border">
      <h4><%= t ".about_us" %></h4>
    </div>
    <p><%= company.introduction %></p>
    <div class="topmargin-custom title-border">
      <div class="location-padding">
        <h4><%= t ".location" %></h4>
      </div>
      <div id="map" class="map"></div>
    </div>
    <div class="topmargin-custom title-border">
      <h4><%= t ".social_profiles" %></h4>
    </div>
    <div class="clearfix">
      <a href="#" class="social-icon si-facebook si-small si-rounded si-light">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
      </a>
      <a href="#" class="social-icon si-gplus si-small si-rounded si-light">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
      </a>
      <a href="#" class="social-icon si-dribbble si-small si-rounded si-light">
        <i class="icon-dribbble"></i>
        <i class="icon-dribbble"></i>
      </a>
      <a href="#" class="social-icon si-flickr si-small si-rounded si-light">
        <i class="icon-flickr"></i>
        <i class="icon-flickr"></i>
      </a>
      <a href="#" class="social-icon si-linkedin si-small si-rounded si-light">
        <i class="icon-linkedin"></i>
        <i class="icon-linkedin"></i>
      </a>
      <a href="#" class="social-icon si-twitter si-small si-rounded si-light">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
      </a>
    </div>
    <%= render "gmap" %>
  </article>
</div>
