<div id="edit-quote-modal" class="modal fade course-member" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-content-info-user">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".edit_quote" %></h4>
      </div>
      <%= simple_form_for @info_user, remote: :true,
        html: {id: "edit-quote-form"} do |f| %>
        <div class="modal-body">
          <%= f.input :quote, as: :text, placeholder: t(".quote_placeholder"),
            class: "sm-form-control modal-txta",
            rows: Settings.info_users.quote_form_rows %>
        </div>
        <div class="modal-footer modal-footer-info-user">
          <%= f.submit t(".update_button"), class:"btn btn-primary",
            id: "btn-edit-quote" %>
          <%= button_tag t(".cancel_button"), class:"btn btn-default",
             data: {dismiss:"modal"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
