<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <div id="logo">
        <a href="#" class="standard-logo" data-dark-logo="/assets/logo_framgia_white.png">
          <img src="/assets/logo-framgia.png" alt="<%= t "education.logo_alt" %>"></a>
      </div>

      <nav id="primary-menu" class="dark">
        <ul>
          <li class="current">
          <%= link_to education_root_url do %>
            <div><%= t "education.header.home" %></div>
          <% end %>
          </li>
          <li class="mega-menu">
            <%= link_to t("education.header.project"), education_projects_path %>
          </li>
          <li class="mega-menu">
            <%= link_to t("education.header.posts"), education_posts_path %>
          </li>
          <li class="mega-menu">
            <%= link_to t("education.header.courses"), education_courses_path %>
          </li>
          <li class="mega-menu"><a href="#"><div><%= t "education.header.trainers" %></div></a>
          </li>
          <li class="mega-menu"><a href="#"><div><%= t "education.header.trainees" %></div></a>
          </li>
          <li class="mega-menu"><a href="#"><div><%= t "education.header.feedback" %></div></a>
          </li>
          <li class="dropdown chosen-language">
            <% if session[:locale].present? %>
              <%= link_to url_for(locale: session[:locale]), class:"dropdown-toggle dropdown-custom",
                data: {toggle: "dropdown"} do %>
                <%= image_tag "flag/#{session[:locale]}.png", class: "icon-language" %>
                <i class="fa fa-angle-down"></i>
              <% end %>
            <% else %>
              <%= link_to url_for(locale: :en), class:"dropdown-toggle dropdown-custom",
                data: {toggle: "dropdown"} do %>
                <%= image_tag "flag/en.png", class: "icon-language" %>
                <i class="fa fa-angle-down"></i>
              <% end %>
            <% end %>
            <ul class="dropdown-menu dropdown-custom dropdown-menu-right choose-language" role="menu">
              <% Settings.languages.keys.each do |lang| %>
                <%= link_to url_for(locale: lang) do %>
                  <%= image_tag "flag/#{lang}.png", class: "icon-language" %>
                  <%= Settings.languages[lang] %>
                <% end %>
                <br/>
              <% end %>
            </ul>
          </li>
        </ul>

        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="#" method="get">
            <input type="text" name="q" class="form-control" value=""
              placeholder="<%= t "education.header.search" %>">
          </form>
        </div>
      </nav>
    </div>
  </div>
</header>
