<li class="<%= default_current_path %>">
  <%= link_to controller: controller_name do %>
    <div><%= t "education.project.show_all" %></div>
  <% end %>
</li>
<% array_technique_show, array_technique_hide = split_array(techniques) %>
<% array_technique_show.each do |technique| %>
  <li class="<%= current_path_trainer? technique %>">
    <%= link_to controller: controller_name, technique_name: technique.name do %>
      <div><%= technique.name %></div>
    <% end %>
  </li>
<% end %>
<% if array_technique_hide %>
  <li>
    <a href="#">
      <%= t "education.projects.more" %>
      <i class="icon-angle-down"></i>
    </a>
    <ul>
      <% array_technique_hide.each do |technique| %>
        <li class="<%= current_path_trainer? technique %>">
          <%= link_to controller: controller_name, technique_name: technique.name do %>
            <div><%= technique.name %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
