<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <title><%= full_title yield :title %></title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
      <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="stretched">
    <div id="wrapper" class="clearfix">
      <%= render "education/layouts/header" %>
      <%= render "shared/flash" %>
      <%= yield %>
      <%= render "education/layouts/footer" %>
    </div>

    <div id="gotoTop" class="icon-angle-up"></div>
    <%= javascript_include_tag "template", "data-turbolinks-track": "reload" %>
  </body>
</html>
