<div>
  <span><%= t(".found_results", total: total) if total %></span>
</div>
<% articles.each do |article| %>
  <div class="col-md-12 article-item">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag article.background_image,
          class: "pull-left size-default" %>
      </div>
      <div class="col-sm-9">
        <h4 class="article-title"><%= article.title.html_safe %></h4>
        <%= t ".show_at", time: l(article.time_show, format: :long) %>
        <p class="article-body">
          <%= truncate strip_tags(article.description.html_safe),
            length: Settings.article.description_limit %>
        </p>
        <%= link_to t(".edit"), edit_employer_company_article_path(company, article),
          class: "btn btn-primary pull-right" %>
        <%= link_to t(".delete"), employer_company_article_path(company, article), method: :delete,
          class: "btn btn-danger pull-right" %>
      </div>
    </div>
  </div>
<% end %>
