<% user.user_works.includes(:organization).each do |work| %>
  <% if work.organization.present? %>
    <div class="link-info">
      <strong><%= link_to work.organization.name, work.organization %></strong>
      <span class="work-action">
        <% if user.is_user? current_user %>
          <span class="edit-link">
            <span>
              <%= link_to edit_user_work_path(work), remote: true do %>
                <span class="icon-pencil"></span> <%= t ".edit" %>
              <% end %>
            </span>
            <span>&nbsp</span>
            <span>
              <%= link_to user_work_path(work), remote: true,
                method: :delete, data: {confirm: t(".sure")} do %>
                <span class="icon-trash"></span> <%= t ".delete" %>
              <% end %>
            </span>
          </span>
        <% end %>
      </span>
      <div class="work-info">
        <%= work.position %>
        <%= t ".split" %>
        <%= t(".all_status.#{work.status}") %>
        <span class="work-time">
          <% if work.start_time.present? %>
            <%= l work.start_time, format: :long %>
          <% end %>
          <%= t ".split" %>
          <% if work.end_time.present? %>
            <%= l work.end_time,  format: :long %>
          <% end %>
        </span>
      </div>
      <li class="divider work-divider"></li>
    <% end %>
  </div>
<% end %>
