<div class="modal fade" id="user-work-form" role="dialog">
  <div class="modal-dialog">
  <%= simple_form_for user_work, remote: true do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><%= t ".header" %></h4>
      </div>
      <div class="modal-body">
        <%= f.label :organization, t(".company") %>
        <div class="form-group dropdown">
          <%= f.text_field :organization,
            value: user_work.organization_name,
            class: "form-control dropdown-toggle",
            placeholder: t(".company"),
            "data-toggle": "dropdown", "aria-hidden": :true,
            autocomplete: :off, required: true, id: "livesearch_input" %>
          <ul class="dropdown-menu form-control org-search-result">
            <div id="livesearch_dom"></div>
          </ul>
        </div>
        <%= f.input :position, label: t(".position"),
          placeholder: t(".position"), class: "form-control" %>
        <div class="col_half">
          <%= f.input :start_time, label:t(".start_time"),
            as: :date, html5: true, class: "form-control",
            placeholder: t(".start_date") %>
        </div>
        <div class="col_half col_last">
          <%= f.input :end_time, label:t(".start_time"),
            as: :date, html5: true, class: "form-control",
            placeholder: t(".start_date") %>
        </div>
        <%= f.input :status, label:t(".status"),
          collection: work_status_select,
          include_blank: false, class: "form-control inline" %>
        <%= f.input :description, label: t(".description"),
          placeholder: t(".description"), class: "form-control",
          input_html: {rows: 5} %>
      </div>
      <div class="modal-footer text-center">
        <%= f.submit t(".update"), class: "btn btn-primary add-user-work-btn" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t ".close" %>
        </button>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "org_search" %>
