<div id="form-user-certificate-modal"  class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".certificate_header" %></h4>
      </div>
      <%= simple_form_for @certificate, remote: true,
        html: {class: "certificate-form"} do |f| %>
        <div class="modal-body">
          <%= f.input :name, html5: true, label: t(".certificate"),
            class: "form-control" %>
          <%= f.input :qualified_organization, html5: true,
            label: t(".qualified_organization"), class: "form-control" %>
          <%= f.input :qualified_time, html5: true, label: t(".qualified_time"),
            class: "form-control datepicker" %>
        </div>
        <div class="modal-footer">
          <%= button_tag type: :submit, class: "button button-3d button-rounded
            button-green" do %>
            <%= button_text %>
          <% end %>
          <button type="button" class="button button-3d button-rounded button-white
            button-light" data-dismiss="modal">
            <%= t ".close" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "certificates" %>
