<div>
  <div class="above-fixed">
    <div id="page-menu" class="no-sticky">
      <div id="page-menu-wrap">
        <div class="container clearfix">
          <div class="menu-title">
            <%= t "education.header.project" %>
            <span> <%= t "education.projects.home.filter" %></span>
          </div>
          <%= render "education/layouts/nav_filter",
            {controller_name: "education/trainings",
            techniques: @training_object.techniques} %>
        </div>
      </div>
    </div>
  </div>

  <div class="below-fixed">
    <div class="content-wrap nobottompadding">
      <div id="list-portfolio">
        <div id="portfolio" class="portfolio grid-container clearfix">
          <%= render partial: "education/trainers/training",
            collection: @training_object.trainings %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "education/project_search" %>
