<div>
  <div class="above-fixed">
    <section id="page-title" class="page-title">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-6">
            <h1><%= @project.name %></h1>
          </div>
          <div class="col-md-6">
            <div class="pull-right">
              <a href="#" class="btn btn-primary">
                <i class="icon-user"></i>
                <%= t "education.projects.detail_project.members" %>
              </a>
              <a href="#" class="btn btn-warning">
                <i class="icon-edit"></i>
                <%= t "education.projects.edit.edit_project" %>
              </a>
              <a href="#" class="btn btn-danger">
                <i class="icon-remove"></i>
                <%= t "education.projects.destroy.delete" %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="below-fixed">
    <section id="content">
      <div class="content-wrap content-wrap-custom">
        <div class="container clearfix">
          <%= render "detail_project", project: @project,
            relations: @show_projects.relations, techniques: @techniques,
            project_members: @show_projects.project_members %>
        </div>
      </div>
    </section>
  </div>
</div>
