<div>
  <div class="above-fixed">
    <section id="page-title" class="page-title">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-6">
            <h1><%= @course.name %></h1>
          </div>
          <div class="col-md-6">
            <div class="pull-right">
              <%= link_to t(".add_member"), "#",
                class: "btn btn-primary",
                data: {toggle: "modal", target: "#course-member-modal"} %>
              </a>
              <%= link_to t(".edit_course"), edit_education_course_path(@course), class: "btn btn-warning" %>
              <%= link_to t(".delete_course"), education_course_path(@course), method: :delete, data: { confirm: t(".confirm_delete") }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="below-fixed">
    <section id="content">
      <div class="content-wrap content-wrap-custom">
        <div class="container clearfix">
          <%= render "detail_course", course: @course, course_members: @show_course.course_members,
              techniques: @show_course.techniques, users: @show_course.users %>
            <div class="clear"></div>
             <%= render "other_course", relations: @show_course.relations %>
        </div>
      </div>
    </section>
  </div>
</div>
<%= render "add_course_member_modal",
  users: @show_course.users, course: @course %>
