<%= javascript_include_tag "friend_ship" %>
<span class="dropdown friend-ship-show">
  <button class="dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="fa fa-user"></i>
    <% if @user_request.present? %>
      <span class="badge badge-pill badge-default">
        <%= @user_request.size > 0 ? @user_request.size : 0 %>
      </span>
    <% end %>
  </button>
  <div class="dropdown-menu friend-ship-box">
    <h4><%= t ".friend-ship" %></h4>
    <hr>
    <div class="show-request">
      <% if @user_request.present? %>
        <% @user_request.each do |user_request| %>
          <div class="top-cart-item clearfix" id="friend-ship-<%= user_request.id %>">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <%= load_user_avatar user_request %>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="#"><%= user_request.name %></a>
                <br>
                <i><%= t ".mutual-friends" %></i>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3">
                <%= link_to "#", class: "right-icon friend-ship",
                  data: {id: user_request.id}, title: t(".confirm") do %>
                  <%= icon "check-circle" %>
                <% end %>
                <%= link_to "#", class: "right-icon friend-ship-decline",
                  data: {id: user_request.id}, title: t(".reject") do %>
                  <%= icon "times-circle" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= t ".request_not_found" %>
      <% end %>
    </div>
    <div class="clearfix text-center">
      <span class="fleft top-checkout-price"></span>
      <button class="btn btn-primary nomargin fright">
        <%= t ".view_all" %>
      </button>
    </div>
  </div>
</span>
