<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "admin/layouts/admin_head" %>
    <%= render "layouts/shim" %>
  </head>
  <body class="nav-md footer_fixed">
    <div class="container body">
      <div class="main_container">
        <%= render "admin/layouts/admin_header" %>
        <div class="right_col" role="main">
          <%= render "shared/flash" %>
          <%= yield %>
        </div>
        <%= render "admin/layouts/admin_footer" %>
      </div>
    </div>
    <%= javascript_include_tag "admin/admin", "data-turbolinks-track": "reload" %>
  </body>
</html>
