<div class="fieldset form-group form-inline">
  <div class="col-md-4"><label>facebook</label>
    <abbr class="optional"><%= t ".optional" %></abbr>
  </div>
  <input type="text" name="facebook" class="form-control form-control-custom">
</div>
<div class="fieldset form-group form-inline">
  <div class="col-md-4"><label>twitter</label>
    <abbr class="optional"><%= t ".optional" %></abbr>
  </div>
  <input type="text" name="twitter" class="form-control form-control-custom">
</div>
<div class="fieldset form-group form-inline">
  <div class="col-md-4">
    <label>logo image</label>
  </div>
  <%= render "employer/companies/logo" %>
</div>
<div class="fieldset form-group form-inline">
  <div class="col-md-4">
    <label>background image</label>
  </div>
  <%= render "employer/companies/logo" %>
</div>
<div class="fieldset form-group form-inline">
  <div class="col-md-4">
    <label>what we do</label>
  </div>
  <textarea class="form-control text-area">
  </textarea>
</div>
<%= render "employer/companies/image" %>
<div class="fieldset form-group form-inline">
  <div class="col-md-4">
    <label>why we do</label>
  </div>
  <textarea class="form-control text-area"></textarea>
</div>
<%= render "employer/companies/image" %>
<div class="fieldset form-group form-inline">
  <div class="col-md-4">
    <label>how we do</label>
  </div>
  <textarea class="form-control text-area"></textarea>
</div>
<%= render "employer/companies/image" %>
