<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6 col-md-offset-2">
      <h1><%= title %></h1>
      <%= simple_form_for technique do |f| %>
        <%= f.label :name, class: "col-md-2 control-label" %>
        <%= f.text_field :name, label: t(".name"), class: "form-control" %>
        <br/>
        <%= f.label :description, class: "col-md-2 control-label" %>
        <%= f.text_area :description, label: t(".description"), class: "form-control" %>
        <br/>
        <%= f.fields_for :image do |i| %>
          <%= i.file_field :url %>
        <% end %>
        <br/>
        <%= f.submit button_text, class: "btn btn-md btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
