<div class="feature-box <%= add_css_fbox_right %> topmargin scale-padding"
  data-animate="fadeIn" data-delay="200">
  <div class="technique-backgroud-color">
    <div class="fbox-icon technique-scale-image">
       <%= image_tag technique.image_url %>
    </div>
  </div>
  <h3><%= technique.name %></h3>
  <p>
    <%= truncate(technique.description, length: Settings.education.technique.truncate) %>
    <i><%= link_to t("education.technique.index.read_more"), "#" %></i>
  </p>
</div>
