<div class="technique-page-title">
  <div class="row clearfix">
    <div class="heading-block center">
      <h2><%= t "education.technique.index.our_technique" %></h2>
      <span class="divcenter">
        <% if current_user && can_manage?(Education::Project) %>
          <a href="javascript:showNewForm()" class="button button-xlarge button-circle button-3d button-amber" >
            <i class="icon-rocket"></i>
            <%= t "education.techniques.new.create_technique" %>
          </a>
        <% else %>
          <%= t "education.technique.index.introduce" %>
        <% end %>
      </span>
    </div>
  </div>
</div>

<div class="content-wrap">
  <div class="container clearfix technique-index">
    <div class="row">
      <%= render @techniques %>
    </div>
  </div>
</div>

<div class="center">
  <%= paginate @techniques %>
</div>

<%= render "education/shared/edit_popup",
  modal_title: t("education.techniques.edit.edit_technique") %>
