<nav class="navbar main-menu navbar-default">
  <div class="menu-content">
    <div class="navbar-header">
      <span class="notification-header">
        <% if user_signed_in? %>
          <%= render "friend_ships/friend_request" %>
          <%= render "jobs/message" %>
        <% end %>
        <span class="dropdown profile">
          <% if user_signed_in? %>
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= load_user_avatar current_user if current_user %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu profile-box">
              <li><%= link_to t(".profile"), user_path(current_user) %></li>
              <li>
                <%= link_to t(".sign_out"), destroy_user_session_path,
                  method: :delete %>
              </li>
            </ul>
          <% else %>
            <button class="btn btn-login dropdown-toggle" type="button" data-toggle="dropdown">
              <b><%= t ".login" %></b>
            </button>
            <ul class="dropdown-menu form-login">
              <%= render "devise/sessions/form_login_2" %>
            </ul>
          <% end %>
        </span>
      </span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand",
        data: {dark_logo: "logo-framgia.png"} do %>
        <%= image_tag "logo-framgia.png", alt: t("education.logo_alt") %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav text-uppercase">
        <li><%= link_to t(".home"), root_path, class: "link-menu-header" %></li>
        <li><%= link_to t(".jobs"), jobs_path, class: "link-menu-header" %></li>
        <% if current_user.present? %>
          <% if current_user.admin? %>
            <li>
              <%= link_to t(".admin"), admin_dashboards_path,
                class: "link-menu-header" %>
            </li>
          <% end %>
          <% if current_user.company.present? %>
            <li>
              <%= link_to t(".employer"), employer_company_dashboards_path(current_user.company),
                class: "link-menu-header" %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="i-con">
        <a class="search-form-job">
          <i class="fa fa-search"></i>
          <div class="show-search displaynone">
            <form role="search" method="get" id="searchform" action="#">
              <div>
                <input type="text" placeholder='<%= t ".search" %>' name="s" id="s">
              </div>
            </form>
          </div>
        </a>
        <a href="#"><i class="active fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <% if user_signed_in? %>
          <%= render "friend_ships/friend_request" %>
          <%= render "jobs/message" %>
        <% end %>
        <span class="dropdown profile">
          <% if user_signed_in? %>
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
              <%= load_user_avatar current_user if current_user %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu profile-box">
              <li><%= link_to t(".profile"), user_path(current_user) %></li>
              <li>
                <%= link_to t(".sign_out"), destroy_user_session_path,
                  method: :delete %>
              </li>
            </ul>
          <% else %>
            <button class="btn btn-login dropdown-toggle" type="button" data-toggle="dropdown">
              <b><%= t ".login" %></b>
            </button>
            <ul class="dropdown-menu form-login">
              <%= render "devise/sessions/form_login_2" %>
            </ul>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</nav>
