<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/head" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <div id="wrapper" class="clearfix">
      <header id="header">
        <%= render "layouts/header" %>
      </header>
      <section id="content">
        <div class="content-wrap">
          <div class="container clearfix">
            <%= yield %>
          </div>
        </div>
      </section>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
